<div class="info-card">
  @if (badge()) {
    <div class="card-badge mb-3">
      {{ badge() }}
    </div>
  }

  <h3 class="mb-3">
    {{ title() }}
  </h3>

  @if (meta()) {
    <div class="card-meta mb-2">
      {{ meta() }}
    </div>
  }

  @if (duration()) {
    <div class="card-duration mb-3">
      {{ duration() }}
    </div>
  }

  <p class="mb-4">
    {{ description() }}
  </p>

  @if (price()) {
    <div class="card-price mb-4">
      {{ price() }}
    </div>
  }

  <a [routerLink]="link()">
    <p-button label="Más información" severity="secondary" />
  </a>
</div>
