<div class="info-card h-full flex flex-column">
  <h3 class="mb-3">
    {{ title() }}
  </h3>
  @if (badge()) {
    <div class="mb-3 text-sm info-badge">
      {{ badge() }}
    </div>
  }

  <p class="flex-1 hero-text line-height-3">
    {{ description() }}
  </p>

  @if (duration()) {
    <div class="mb-2">⏱ {{ duration() }}</div>
  }

  @if (price()) {
    <div class="mb-4">
      {{ price() }}
    </div>
  }

  <p-button
    label="Más información"
    severity="secondary"
    [link]="true"
    [routerLink]="link()"
  />
</div>
