<a [routerLink]="link()" class="info-card">

  @if (image()) {
    <div class="card-image">
      <img [src]="image()" [alt]="title()" />
    </div>
  } @else {
    <div class="card-image card-image--placeholder"></div>
  }

  <div class="card-body">
    @if (badge()) {
      <span class="card-badge">{{ badge() }}</span>
    }

    <h3 class="card-title">{{ title() }}</h3>

    <p class="card-excerpt">{{ description() }}</p>

    <div class="card-meta">
      @if (meta()) {
        <span><i class="pi pi-calendar "></i>{{ meta() }}</span>
      }
      @if (duration()) {
        <span><i class="pi pi-clock "></i>{{ duration() }}</span>
      }
      @if (price()) {
        <span class="card-price">{{ price() }}</span>
      }
    </div>
  </div>

</a>
