<section class="py-8 px-4 lg:px-8">
  <div class="max-w-screen-lg mx-auto">
    @if (therapy) {
      <div class="mb-3 text-sm hero-eyebrow">Terapia</div>

      <h1 class="mb-4">
        {{ therapy.title }}
      </h1>

      <div class="flex flex-wrap gap-4 mb-5 hero-text">
        <div>
          ⏱
          {{ therapy.duration }}
          min
        </div>

        <div>
          {{ therapy.price }}
          €
        </div>
      </div>

      <p class="text-lg line-height-4 mb-6">
        {{ therapy.longDescription }}
      </p>
    }
  </div>
</section>
