<section class="py-8 px-4 lg:px-8">
  <div
    class="max-w-screen-xl mx-auto flex flex-column lg:flex-row align-items-center gap-8"
  >
    <!-- LEFT -->

    <div class="flex-1">
      <span class="text-sm font-medium" style="color: var(--sofi-primary)">
        Psicología · Bienestar · Acompañamiento
      </span>

      <h1 class="mt-3 mb-4 text-5xl lg:text-7xl line-height-1">
        Un espacio para comprenderte, cuidarte y avanzar.
      </h1>

      <p
        class="text-lg line-height-3 mb-5"
        style="color: var(--sofi-text-muted)"
      >
        Terapia psicológica, talleres y acompañamiento emocional desde una
        mirada humana, cercana y profesional.
      </p>

      <div class="flex flex-column sm:flex-row gap-3 mt-5">
        <p-button
          class="p-button"
          label="Ver terapias"
          routerLink="/therapies"
        />

        <p-button
          label="Ver talleres"
          severity="secondary"
          routerLink="/workshops"
        />
      </div>
      <div class="mt-6 text-sm hero-text">
        Terapia individual · Talleres presenciales · Acompañamiento emocional
      </div>
    </div>

    <!-- RIGHT -->

    <div class="flex-1">
      <img
        src="https://images.unsplash.com/photo-1516302752625-fcc3c50ae61f?w=900"
        alt="Sofía Reyes Psicóloga"
        class="hero-image"
      />
    </div>
  </div>
</section>
<section class="py-8 px-4 lg:px-8">
  <div class="max-w-screen-xl mx-auto">
    <h2 class="mb-6">Terapias destacadas</h2>

    <div class="grid">
      @for (therapy of therapies; track therapy.id) {
        <div class="col-12 md:col-6 lg:col-4 mb-4">
          <info-card
            [title]="therapy.title"
            [description]="therapy.description"
            [badge]="'Terapia'"
            [duration]="therapy.duration + ' min'"
            [price]="therapy.price + ' €'"
            [link]="'/therapies/' + therapy.id"
          />
        </div>
      }
    </div>
  </div>
</section>
<section class="py-8 px-4 lg:px-8">
  <div class="max-w-screen-xl mx-auto">
    <h2 class="mb-6">Talleres destacados</h2>
    <div class="grid">
      @for (workshop of workshops; track workshop.id) {
        <div class="col-12 md:col-6 lg:col-4 mb-4">
          <info-card
            [title]="workshop.title"
            [description]="workshop.description"
            [badge]="'Taller'"
            [duration]="workshop.date"
            [price]="workshop.price + ' €'"
            [link]="'/workshops/' + workshop.id"
          />
        </div>
      }
    </div>
  </div>
</section>
