<section class="surface-ground px-4 py-7 lg:px-8">
  <div
    class="max-w-screen-xl mx-auto flex flex-column lg:flex-row align-items-center gap-7"
  >
    <!-- LEFT -->

    <div class="flex-1 text-center lg:text-left">
      <span class="text-primary font-semibold">
        Psicología · Bienestar · Terapia
      </span>

      <h1 class="text-5xl lg:text-7xl font-bold mt-3 mb-4">
        Un espacio para cuidar tu bienestar emocional
      </h1>

      <p class="text-lg line-height-3 mb-5">
        Terapia psicológica, talleres y acompañamiento emocional para ayudarte a
        avanzar con calma, claridad y herramientas reales.
      </p>

      <div
        class="flex flex-column sm:flex-row gap-3 justify-content-center lg:justify-content-start"
      >
        <p-button label="Ver terapias" />

        <p-button label="Contactar" severity="secondary" />
      </div>
    </div>

    <!-- RIGHT -->

    <div class="flex-1">
      <img
        src="https://picsum.photos/900/650"
        alt="Psicología"
        class="w-full border-round-3xl shadow-4"
      />
    </div>
  </div>
</section>
