<div class="bg-pink-100 p-6">PRIMEFLEX TEST</div>

<div class="bg-red-500 text-white p-6 mt-4">RED TEST</div>
<div class="flex justify-content-center p-4">FLEX OK</div>
<div class="surface-100 p-4">TEST 1</div>
<div class="surface-ground p-4">TEST 2</div>
<div class="surface-ground min-h-screen">
  <section class="p-6">
    <div class="grid">
      <div class="col-12">
        <div class="text-center">
          <h1 class="text-5xl font-bold">Web Sofi</h1>

          <p class="text-xl mt-3">Psicología, terapias y formación</p>
        </div>
      </div>
    </div>
  </section>
</div>
