<section class="p-4 md:p-6">
  <div class="text-center mb-6">
    <page-hero
      title="Talleres"
      description="
        Talleres presenciales
        orientados al bienestar,
        crecimiento personal
        y acompañamiento emocional.
    "
    />
  </div>
  <div
    class="flex flex-column md:flex-row md:flex-wrap gap-4 justify-content-center"
  >
    @for (workshop of workshops; track workshop.title) {
      <div class="w-full md:w-20rem">
        <card-workshop [workshop]="workshop" />
      </div>
    }
  </div>
</section>
