<h1>Angular + Supabase 🚀</h1>

@if (auth.loading()) {

  <p>Cargando sesión...</p>

}

@else {

  @if (auth.user()) {

    <p>Usuario autenticado:</p>

    <p>{{ auth.user()?.email }}</p>

    <button (click)="auth.signOut()">
      Logout
    </button>

  }

  @else {

    <h2>Login</h2>

    <input
      type="email"
      placeholder="Email"
      [(ngModel)]="email"
    />

    <br />
    <br />

    <input
      type="password"
      placeholder="Password"
      [(ngModel)]="password"
    />

    <br />
    <br />

    <button (click)="login()">
      Login
    </button>

  }

}