<h1 class="mb-5">
  @if (isEditMode) {
    Editar taller

  } @else {
    Nuevo taller
  }
</h1>

<div class="admin-card">
  <div class="grid">
    <div class="col-12">
      <label> Título </label>

      <input pInputText class="w-full mt-2" [(ngModel)]="workshop.title" />
    </div>

    <div class="col-12">
      <label> Descripción corta </label>

      <input
        pInputText
        class="w-full mt-2"
        [(ngModel)]="workshop.description"
      />
    </div>

    <div class="col-12">
      <label> Descripción larga </label>

      <textarea
        pTextarea
        rows="8"
        class="w-full mt-2"
        [(ngModel)]="workshop.longDescription"
      ></textarea>
    </div>

    <div class="col-6">
      <label> Fecha </label>

      <input pInputText class="w-full mt-2" [(ngModel)]="workshop.date" />
    </div>

    <div class="col-6">
      <label> Precio </label>

      <input
        pInputText
        type="number"
        class="w-full mt-2"
        [(ngModel)]="workshop.price"
      />
    </div>

    <div class="col-12 mt-4">
      <div class="flex gap-3 align-items-center">
        <label> Activo </label>

        <p-toggleswitch [(ngModel)]="workshop.active" />
      </div>
    </div>
  </div>

  <div class="flex gap-3 mt-6">
    <p-button label="Guardar" (onClick)="save()" />

    <a routerLink="/dashboard/workshops">
      <p-button label="Cancelar" severity="secondary" />
    </a>
  </div>
</div>
