<page-hero
  title="Contacto"
  description="
        Puedes reservar sesiones,
        consultar dudas o solicitar
        información por teléfono
        o correo electrónico.
    "
/>

<section class="px-4 pb-8 lg:px-8">
  <div class="max-w-screen-lg mx-auto grid">
    <div class="col-12 lg:col-6">
      <div class="contact-card">
        <h2 class="mb-4">Reserva o información</h2>

        <p class="hero-text mb-5">
          Estoy disponible para consultas, información sobre terapias, talleres
          y acompañamiento.
        </p>

        <div class="mb-4">
          <strong>Teléfono</strong>
          <div>688 955 546</div>
        </div>

        <div class="mb-5">
          <strong>Email</strong>
          <div>contacto@sofiareyes.com</div>
        </div>

        <div class="flex flex-column sm:flex-row gap-3">
          <a href="https://wa.me/34688955546" target="_blank">
            <p-button label="WhatsApp" icon="pi pi-whatsapp" />
          </a>

          <a href="mailto:contacto@sofiareyes.com">
            <p-button label="Email" severity="secondary" icon="pi pi-envelope" />
          </a>
        </div>
      </div>
    </div>

    <div class="col-12 lg:col-6">
      <img
        src="https://picsum.photos/900/800"
        alt="Contacto"
        class="contact-image"
      />
    </div>
  </div>
</section>
